---
layout: page
title: Home
id: home
permalink: /
pagination:
  enabled: true

---
<h1 style ="text-align:center;"> Welcome! 🌱 </h1>


<div class=center style="box-sizing: border-box;width: 50%,border: 5px solid red;padding: 1rem 3rem; background: #00af93; margin-bottom: 2rem;max-width: 66.666667%;margin: auto;">

<p style="text-align:center;">
  <b>Explore</b> 
<br>
  {% comment %}map, flatten and sort{% endcomment %}
{% assign tags =  site.notes | map: 'tags' | join: ','  | split: ',' | sort %}
{% assign previousTag = "" %}
{% assign counter = 0 %}

{% for currentTag in tags %}

  {% comment %}first loop : initializing previousTag{% endcomment %}
  {% if previousTag == "" %}
    {% assign previousTag = currentTag %}
  {% endif %}

  {% if currentTag == previousTag %}
    {% assign counter = counter | plus: 1 %}
  {% else %}
	{% if previousTag == "cloudflare" %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- previousTag -}}"><i class='fab fa-cloudflare'></i>&nbsp;{{- previousTag -}}&nbsp;({{ counter }})</a>
	{% elsif previousTag == "digitalgarden" %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- previousTag -}}"><i class='fa fa-seedling'></i>&nbsp;{{- previousTag -}}&nbsp;({{ counter }})</a>
	{% else %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- previousTag -}}">{{- previousTag -}}&nbsp;({{ counter }})</a>
	{% endif %}
	{% assign counter = 1 %}
  {% endif %}

  {% comment %}last loop : flushing what's left to print{% endcomment %}
  {% if forloop.last %}
    {% if previousTag == "cloudflare" %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- currentTag -}}"><i class='fab fa-cloudflare'></i>&nbsp;{{- currentTag -}}&nbsp;({{ counter }})</a>
	{% elsif previousTag == "digitalgarden" %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- currentTag -}}"><i class='fa fa-seedling'></i>&nbsp;{{- currentTag -}}&nbsp;({{ counter }})</a>
	{% else %}
		<a href="{{ '/tag/' | prepend: site.baseurl | replace: '//', '/' }}{{- currentTag -}}">{{- currentTag -}}&nbsp;({{ counter }})</a>
	{% endif %}
  {% endif %}

  {% assign previousTag = currentTag %}

{% endfor %}
</p>

</div>

<p style ="text-align:right;"> <a href = "/resources"> Resources</a> </p>
  
<p style ="text-align:center;">
Hi! I believe that while healing can be done alone, peer support is super helpful and in some cases, necessary. I genuinely believe the community aspect of healing is oft overlooked.  <br> <br>
  I believe in <span style="font-weight: bold">[[survivor led]]</span> and survivor-centric healing over ones run by medical professionals. <br> <br>
 I also believe resources should be free, that healthcare should be accessible to everyone. <br> 
This is a <span style="font-weight: bold"> community-first </span> space; by the community for the community. We share resources, stories, experiences. <br>
Because your voice matters. Because we can heal as a community. Share everything you've found helpful in your journey and take a look at everything that has helped others.
<br>	And remember, your journey is yours, it's <span style="font-weight: bold">personal</span>; take what works for you and discard the rest. 
<br> <br><strong> [[Start here]] if you're confused!</strong>  <br> <br>
You are valid. Your emotions are valid. 🌻♥
	</p>

<style>
  .wrapper {
    max-width: 46em;
	  margin: auto;
  }
</style>


   <script data-goatcounter="https://healing.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
   
 
   
